EBIRD_API_KEY=
BIRD_AI_URL=
HF_ENDPOINT=https://hf-mirror.com
FORCE_CPU=
CACHE_DIR=
MIGRATIONS_DIR=
JOB_CONCURRENCY=
BIRD_LABELS_PATH=
IDENTIFY_MAX_SIZE=
IDENTIFY_JPEG_QUALITY=
IDENTIFY_CROPS_SINGLE=
IDENTIFY_CROPS_BATCH=
IDENTIFY_CROP_SCALE=
